<!DOCTYPE html>
<html>
  <head>
    <title>Place</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://www.onemap.gov.sg/web-assets/libs/leaflet/leaflet.css" />
    <script src="https://www.onemap.gov.sg/web-assets/libs/leaflet/onemap-leaflet.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
  </head>

  <body>
    {{template "nav.html"}}
    <div id="maincontent">
      <div id='mapdiv' style='height:640px; width:1137px;'></div>

      <div id="placeinputform">
        <h2>Place Picker</h2>
        <input type="text" 
               name="searchInput"
               placeholder="search ..." 
               data-bind-search
               data-on-input="@get('/search')" />
        <div id="results"></div>
      </div>

    </div>
    <script id="mygeo" src="shellgeo.js"></script>
    <script src="initmap.js"></script>
    <script>
      var mylayer
      function render(feat) {
              if(mylayer) {
                      map.removeLayer(mylayer)
                      console.log("mylayer removed")
                    }
              mylayer = L.geoJSON(feat,{
                      pointToLayer: function (feature,latlng){
                              return L.marker(latlng,{icon:redicon})
                                .bindPopup(feature.properties.name)
                            }
                    }).addTo(map)
              console.log("render called")
            }

      render(feat)
    </script>

    {{template "footer.html"}}
  </body>
</html>
