[Unit]
Description=OneMap bicycle parking lot search service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/bicyclesearch/secrets.env
ExecStart=/usr/local/bin/bicyclesearch
Restart=on-failure
RestartSec=5s
User=siuyin
Group=siuyin
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
